// Menu Overlay
.menu {
    position: fixed;
    top:0;
    width: 100%;
    background: $color4;
    visibility: visible; 

    &-nav {
        display: flex; 
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;    
        height: 30px;
        //overflow: hidden;
        
    }
    
    &-nav {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 0;
        list-style: none;
        @include easeOut;
    }

    .nav-item {
        
        @include easeOut;
        &.current > a {
            color: $color1;
            text-decoration: underline;
        } 
        
        &:hover {
            background: $color1;
        } 
    } 

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 16px; 
        padding: 0 1rem;
        text-transform: capitalize;
        font-weight: 350;
        color: $color5;
        text-decoration: none;
        @include easeOut; 

        &:hover {
            color: #fff; 
        } 
    }
  
}  
