@import 'config';
@import 'menu';
* {
    box-sizing: border-box;
}
 
body {
    background-color: $color5;
    color:set-text-color($color1); 
    height: 100%; 
    width: 100%;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.5;

}  
//Headings
h1,
h2 {
    margin:0;

    &.lg-heading {
        margin-top: 5rem;
        font-size: 6rem;
        
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding:0.2rem 1rem;
        
    }
}

a{
    color: set-text-color($color1);
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    z-index:2; 
    width: 100%;
}

.text-secondary {
    color:$color1;
}



main{
    display: grid;
    min-height: calc(100vh - 60px);
    grid-template-areas: 
    'headings photo_slides' 
    'headings dots'
    'learn learn' ;

    grid-template-columns: repeat(2, 1fr);
    padding: 0; 

    //height:100%;
    min-height: calc(100vh - 60px);
    .headings{
        grid-area:headings;
        padding-left: 5rem;
        padding-top:4rem;
    }
    .Photo_slides{ 
        grid-area: photo_slides;
        display: block;
        align-content: center;
        width: 100%;
        height: 100%; 
        padding-top: 100px;
        
        // keep relation 3:4
        $imgpadding: 233px 320px;
        .Slide{ 
            z-index:3;
            height: 100%;
            .photo1{
                //position: absolute;
                background-image: url(../Portrait_photos/Selfie.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center; 
                p{
                    padding: $imgpadding;
                }
            }
            .photo2{
                //position: absolute;
                background-image: url(../Portrait_photos/Cambodia.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                p{
                    padding: $imgpadding;
                }
            }
            .photo3{
                //position: absolute;
                background-image: url(../Portrait_photos/Finland.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;  
                p{
                    padding: $imgpadding;
                }  
            }
            .photo4{
                //position: absolute;
                background-image: url(../Portrait_photos/Spain.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;                 
                p{
                    padding: $imgpadding;
                }  
            }
        }
        
          .fade {
            -webkit-animation-name: slide;
            -webkit-animation-duration: 111s;
            animation-name: slide;
            animation-duration: 1s;
          }
          @-webkit-keyframes slide {
            from {opacity: 0;}
            to {opacity: 100;}
          }
          
          @keyframes slide {
            from {opacity: 0;}
            to {opacity: 100;}
          }
        }  
        .dots{
            display:flex;
            justify-content: center;
            align-items: flex-start;
            grid-area: dots;
            width: 100%;
            margin-bottom: 25px;
        }  
        .dot {
            cursor: pointer;
            height: 12px;
            width: 12px;             
            margin: 0 2px;            
            background-color: #bbb; 
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.4s ease;
        }

    .active, .dot:hover {
        background-color: #717171;
    }
    
    .icons {
        margin-top: 1rem;
        position: fixed;
        left: 0;
        width: 1rem;
        bottom: 40px;
        a {
            
            padding: 2rem;
            line-height: 1rem;
            color: lighten($color1, 25);             
            &:hover {
                color: $color1;
                @include easeOut();                
            }
            i{margin-bottom: 1rem;}

        }

    }
 
} 

.blockquote {
    grid-area: blockquote;
    max-width: 490px;
    padding: 30px 20px;
    
    blockquote{
        font-size: 20px;
        border-left: 10px solid #ccc;
        margin: .5em 10px;
        padding: 0 10px;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 10px 20px;
        line-height: 1.4;
        font-weight: 300;
        font-family:Georgia, 'Times New Roman', Times, serif;
       

    }
      
      blockquote:before {
        content: open-quote;
        display: inline;
        height: 0;
        line-height: 0;
        left: -10px;
        position: relative;
        top: 30px;
        color: #ccc;
        font-size: 3em;
        
      }
      
      p{
        margin: 0;
      }
      
      footer{
        margin:0;
        text-align: right;
        font-size: 1em;
        font-style: italic;
      }
    
 
}


.learn{
    grid-area: learn;
    display: flex;
    align-items: flex-start;
    margin-left: 25%;
    margin-top: -3rem;
    
    a {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 400;
        color: $color2;
        padding: 0px 20px;

        &:hover {
            color:$color3;            
            text-decoration: underline; 
            font-weight:600;  
            
                    
        }
    }
    
}

 
#main-footer {
    text-align: initial;    
    padding: 0.19rem;
    position: fixed; 
    width: 100%;
    background: darken($color5, 15);
    color: set-text-color($color1);
    height: 25px;
    bottom: 0;
    font-size: 12px;
}


@import 'about'; 
@import 'contact';
@import 'mobile';